.html {
  background-color: #fa502e !important;
  //dd512a
}
.css {
  background-color: #0277bd !important;
  //2196f3
}
.js {
  background-color: #e7a42b !important;
}
.jquery {
  background-color: #0868ac !important;
}
.bootstrap {
  background-color: #673ab7 !important;
}
.sass {
  background-color: #cd679a !important;
}
.php {
  background-color: #777bb3 !important;
}
.mysql {
  background-color: #00678c !important;
}
.pug {
  background-color: #56332b !important;
}
.wp {
  background-color: #00769d !important;
}
.react {
  background-color: #61dafb !important;
}
.node {
  background-color: #689f63 !important;
}
.express {
  background-color: #3c3c3c !important;
}
.graphql {
  background-color: #e535ab !important;
}
.firebase {
  background-color: #ffcb2b !important;
}
.mongodb {
  background-color: #48a649 !important;
}
