* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--white);
  font-family: "fira code", sans-serif;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

::selection {
  background-color: var(--main-color);
  color: var(--light-dark);
}

::-moz-selection {
  background-color: var(--main-color);
  color: var(--light-dark);
}
